img{
    height: 400px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color:#ECCE8E;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

a {
    padding-left:10%;
    padding-right: 10%;
    color: white;
    text-decoration: none;

} 

body{
    background-color:aliceblue;
}

p{
    font-size:large;
    width: 1250px;
}

.thingy{
    margin-left: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Reviews{
    margin-left: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
    background-color:#f1bc49;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 4px;
    padding-bottom: 4px;
  }